@using CuStore.WebUI.ViewModels
@model CheckoutViewModel

@{
    ViewBag.Title = "CuStore: Your order";
}

@helper DisplayProperty(string value)
{
    <div class="form-group">
        @Html.DisplayFor(v => value, new { @class = "form-control" })
    </div>
}

@helper DisplayPropertyWithLabel(string value, string label)
{
    <div class="form-group">
        <label>@label</label>
        @Html.DisplayFor(v => value, new { @class = "form-control" })
    </div>
}

<h2>Order: shipping information</h2>
<p>Please fill shipping method and delivery address</p>

<h4>Contact data:</h4>
<div class="well">
    @DisplayPropertyWithLabel(@Model.Cart.User.FirstName, "First name:")
    @DisplayPropertyWithLabel(@Model.Cart.User.LastName, "Last name:")
    @DisplayPropertyWithLabel(@Model.Cart.User.Email, "E-mail:")
    @DisplayPropertyWithLabel(@Model.Cart.User.PhoneNumber, "Phone:")
</div>

<script type="text/javascript">
    function EnableControl() {
        var fNameBox = document.getElementById('FirstName');
        var lNameBox = document.getElementById('LastName');
        var phoneBox = document.getElementById('Phone');
        var countryBox = document.getElementById('Country');
        var cityBox = document.getElementById('City');
        var streetBox = document.getElementById('Street');
        var postalCodeBox = document.getElementById('PostalCode');

        var checkbox = document.getElementById('UseUserAddress');

        if (checkbox.checked) {
            fNameBox.disabled = true;
            lNameBox.disabled = true;
            phoneBox.disabled = true;
            countryBox.disabled = true;
            cityBox.disabled = true;
            streetBox.disabled = true;
            postalCodeBox.disabled = true;
        } else {
            fNameBox.removeAttribute('disabled');
            lNameBox.removeAttribute('disabled');
            phoneBox.removeAttribute('disabled');
            countryBox.removeAttribute('disabled');
            cityBox.removeAttribute('disabled');
            streetBox.removeAttribute('disabled');
            postalCodeBox.removeAttribute('disabled');
        }
    }
</script>


@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.OrderValue)

    if (Model.Cart?.User?.UserAddress != null)
    {
        <h3>User Address:</h3>
        <div class="form-group">
            <label>Use user address</label>
            @Html.CheckBoxFor(x => x.UseUserAddress, new { id = "UseUserAddress", onclick = "EnableControl()" })
        </div>

        <div class="well">
            DisplayProperty(x.Cart.User.UserAddress.Street)
            DisplayProperty(x.Cart.User.UserAddress.City)
            DisplayProperty(x.Cart.User.UserAddress.PostalCode)
            DisplayProperty(x.Cart.User.UserAddress.Country)
        </div>
    }

    @Html.ValidationSummary()

    <div class="form-group">
        <label>First name:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.FirstName, new { id = "FirstName", @class = "form-control", Value = Model?.Cart?.User?.FirstName })
    </div>
    <div class="form-group">
        <label>Last name:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.LastName, new { id = "LastName", @class = "form-control", Value = Model?.Cart?.User?.LastName })
    </div>
    <div class="form-group">
        <label>Phone:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.Phone, new { id = "Phone", @class = "form-control", Value = Model?.Cart?.User?.PhoneNumber })
    </div>
    <div class="form-group">
        <label>Street:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.Street, new { id = "Street", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>City:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.City, new { id = "City", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Postal code:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.PostalCode, new { id = "PostalCode", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Country:</label>
        @Html.TextBoxFor(x => x.ShippingAddress.Country, new { id = "Country", @class = "form-control" })
    </div>

    <div class="form-group">
        <h3>Shipping method:</h3>
        @Html.DropDownListFor(x => x.SelectedShippingMethodId, Model.ShippingMethods, "Select shipping method...", new { id = "shippingMethodDropdown", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.OrderValue, new { id = "orderValue", @class = "form-control" })
    </div>
    <div id="totalValue">
        @Html.Action("TotalValue", new { value = Model.OrderValue, shippingMethodId = Model.SelectedShippingMethodId })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Confirm order" />
    </div>
}

<script>
    $('#shippingMethodDropdown').on("change", function () {
        var shippingMethodId = $('#shippingMethodDropdown').val();
        var value = $('#orderValue').val();
        var obj = { value: value, shippingMethodId: shippingMethodId };
        AjaxCall('/Cart/GetTotalValue', JSON.stringify(obj), 'POST').done(function (response) {    
            if (response) {
                    $('#totalValuePartial').text(response);
                }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    });

    function AjaxCall(url, data, type) {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            contentType: 'application/json'
        });
    } 
</script>

