@model CuStore.WebUI.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "CuStore: Your cart";
}

<style>
    #cartTable td { vertical-align: middle; }
</style>

<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cart.CartItems)
    {
        <tr>
            <td class="text-center">@item.Quantity</td>
            <td class="text-left">@item.Product.Name</td>
            <td class="text-right">@item.Product.Price.ToString("C")</td>
            <td class="text-right">@((item.Product.Price*@item.Quantity).ToString("C"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("productId", item.ProductId)
                    @Html.Hidden("returnUrl", Model.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Remove"/>
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.Cart.GetValue().ToString("C")
        </td>
    </tr>
    </tfoot>
</table>

@if (Model.Cart.CartItems.Count == 0)
{
    <h3>Your cart is empty, please add products to order.</h3>
}

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @if (Model.Cart.CartItems.Count > 0)
    {
        @Html.ActionLink("Checkout", "Checkout", null, new { @class = "btn btn-primary" })
    }
</div>

