@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">

    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                CuStore
            </a>

            @Html.Partial("_LoginPartial")
            <a href=@Url.Action("Index", "Manage")
               class="btn btn-default navbar-btn">
                <b class="hidden-xs">Administrator panel</b>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
    <div class="row_content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>


</body>
</html>