@model CuStore.WebUI.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Product details";
    Layout = "~/Views/Shared/_LayoutWithoutCategories.cshtml";
}

<div id="categories" class="col-sm-3 hidden-xs">
    @Html.Action("Menu", "Nav", new { selectedCategoryId = Model.Product.CategoryId })
</div>
<div class="col-xs-12 col-sm-9">
    <h2>@Model.Product.Name</h2>
    @if (Model.Image != null)
    {
        <div class="well">
            <img class="img-thumbnail" width="500" height="375"
                 src="@Model.Image" />
        </div>         
    }

    <div class="well">
        <h3>
            <span class="pull-right label label-primary">@Model.Product.Price.ToString("C")</span>

            @Model.Product.Description
        </h3>

        <hr />
        <hr />
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.Hidden("productId", @Model.Product.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
        <hr />
        <hr />
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Go back</a>
    </div>
</div>


