@model CuStore.Domain.Entities.Product

<div class="well">
    <h3>
        <span class="pull-right label label-primary">@Model.Price.ToString("C")</span>

        @if (Model.ImageData != null)
        {
            <div class="pull-right" style="margin-right: 10px; margin-top: -25px; margin-left:10px;">
                <img class="img-thumbnail" width="75" height="50"
                     src="@Url.Action("GetImage", "Product", new { productId = Model.Id })"/>
            </div>
        }
                 
        @Html.RouteLink(@Model.Name, new
        {
            controller = "Product",
            action = "Details",
            productId = @Model.Id,
            returnUrl = Request.Url.PathAndQuery
        }, null)

        

    </h3>
    <span class="lead">@Model.Description</span>
</div>

