@model CuStore.Domain.Entities.UserAddress

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit user address";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Editing user address</h3>
    </div>

    @using (Html.BeginForm("EditUserAddress", "Manage", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary()

        <div class="form-group">
            <label>Country:</label>
            @Html.EditorFor(x => x.Country, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>City:</label>
            @Html.EditorFor(x => x.City, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Street:</label>
            @Html.EditorFor(x => x.Street, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>PostalCode:</label>
            @Html.EditorFor(x => x.PostalCode, new { @class = "form-control" })
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and go back", "Index", "Manage", null, new { @class = "btn btn-default" })
        </div>

    }
</div>
