@model CuStore.Domain.Entities.UserAddress

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit user address";
}

@section Scripts 
{ 
    <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#City').autocomplete({
                source: function (request, response) {
                    var country = $('#Country option:selected').text();
                    var autocompleteUrl = '/UserAddress/GetCities' + '?cityPrefix=' + request.term
                        + '&country=' + country;
                    $.ajax({
                        url: autocompleteUrl,
                        type: 'GET',
                        cache: false,
                        dataType: 'json',
                        success: function (json) {
                            response($(json).each(function (index, data) {
                                return {
                                    label: data,
                                    value: data
                                };
                            }));
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            console.log('Error occured', textStatus, errorThrown);
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>
} 

<div class="panel">
    <div class="panel-heading">
        <h3>Editing user address</h3>
    </div>

    @using (Html.BeginForm("Edit", "UserAddress", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)
        @Html.ValidationSummary()

        <div class="form-group">
            <label>Country:</label>
            @Html.DropDownListFor(x => x.Country, new SelectList(ViewBag.CountryList), "", new { @class = "form-control", id = "Country" })
        </div>

        <div class="form-group">
            <label>City:</label>
            @Html.EditorFor(x => x.City, new { @class = "form-control", id = "City" })
        </div>

        <div class="form-group">
            <label>Street:</label>
            @Html.EditorFor(x => x.Street, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>PostalCode:</label>
            @Html.EditorFor(x => x.PostalCode, new { @class = "form-control" })
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and go back", "Index", "Manage", null, new { @class = "btn btn-default" })
        </div>

    }



</div>
